<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    
    <bean id="person1" class="cn.kidjoker.JavaExercise.spring.bean.Person" lazy-init="true" >
    	<property name="personName" value="jason" />
    	<property name="personAge" value="37" />
    </bean>
    
    <bean id="person2" class="cn.kidjoker.JavaExercise.spring.bean.Person" lazy-init="true" >
    	<property name="personName" value="kid" />
    	<property name="personAge" value="38" />
    </bean>
    
    <bean id="family" class="cn.kidjoker.JavaExercise.spring.bean.Family" lazy-init="true" >
    	<property name="familyName" value="123" />
    	<property name="persons">
	    	<list>
	    		<ref bean="person1" ></ref>
	    		<ref bean="person2" ></ref>
	    	</list>
    	</property>
    </bean>
    
</beans>